body {
  background-color: black;
  font-family: monospace;
  cursor: default;
}
div {
 color: white;
}
input {
  background-color: black;
  color: white;
  border: None;
  cursor: default;
  font-family: monospace;
}
input[type=text]:focus{
  outline: none;
  caret-width: 10px;
}
label {
  display: inline-block;
  text-align: right;
  color: white;
}​
